<ion-card class="ion-card" (click)="buchAufrufen()" button routerDirection="forward">

  <ion-card-header>
    <!-- Bild -->
    <ion-item>
      <img [src]="bild | async" />
    </ion-item>
    <!-- Titel des Buches -->
    <ion-card-title>
      {{data.id}}
    </ion-card-title>
  </ion-card-header>

  <!-- Informationen, wie Verlag und Bewertungen -->
  <ion-card-content>

    <ion-item>
      <ion-label class="col-verlag col-info">{{data.verlag}}</ion-label>
      <ion-button fill="outline" slot="end">PDF</ion-button>
    </ion-item>

    <ion-item>
      <ion-icon *ngFor="let eintrag of _sterne" [name]="eintrag" class="icon col-sterne col-info"></ion-icon>
      <ion-label class="col-anzahl col-info">{{data.bewertung.anzahl}} Bewertungen</ion-label>
    </ion-item>

  </ion-card-content>
</ion-card>