ion-card{


    ion-card-header{
        ion-card-title{
            font-weight: bold;    
        }
    }

    ion-item{
        padding: 0px;
        margin: 0px;

        ion-label{
            width: fit-content;
        }
    }
}

@media(min-width:700px){
    ion-card{
        width: 70vw;
        margin: auto;
        margin-bottom: 10px;
    }
    img{
        max-width: 60vw;
        max-height: 50vh;
    }
}

@media(min-width: 1200px){
    ion-card{
        max-width: 38vw;

        ion-card-header{
            ion-item{
                height: 50vh;

                img{
                    max-height: 50vh;
                    margin: auto;
                }
            }
        }
        
    }
}