

@media(min-width:700px){
    .grid-row{
        height: 12rem;
        font-size: 20px;
    }
    
    .col-titel{
        font-size: larger;
    }
    
    .grid-col-info{
        flex: 0 0 200px;
    }
    
    .grid-col-img{
        height: 12rem;
    }
    
    .img{
        min-width: 5rem;
        height: 12rem;
    }
    
    .icon{
        font-size:22px;
    }
}

@media(min-width: 1200px){
    .grid{
        margin-left:10%;
    }
}