<ion-header>
  <ion-toolbar>
    <ion-title>Favoriten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favoriten</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-searchbar></app-searchbar>
  <ion-list *ngFor="let eintrag of rezepte">
    <app-list-rezept [rezept]="eintrag"></app-list-rezept>
  </ion-list>
  
</ion-content>

<ion-footer>
  <app-navigation-bar></app-navigation-bar>
</ion-footer>