<app-header [titel]="seitentitel"></app-header>

<ion-content [fullscreen]="true">
  <app-searchbar [stringListe]="liste" [rezepteListe]="rezepte" [user]="user" (newRezeptListe)="filterRezepte($event)"></app-searchbar>
  <ion-list *ngIf="filter.length>0 && user!=undefined">
    <app-list-rezept *ngFor="let eintrag of filter" [rezept]="eintrag" [user]="user"></app-list-rezept>
  </ion-list>
  <ng-template #elseBlock class="elseBlock">Du hast bisher keine Favoriten festgelegt</ng-template>
  <ion-infinite-scroll >
    <ion-infinite-scroll-content loadingSpinner="none"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
