.grid{
    width: 90%;
    font-size: 18px;
}

.row-infos-inner{
    height: 1.5rem;
    margin-bottom: 1rem;
}

.grid-row-infos{
    height: auto;
}

.row-titel{
    margin: 1.5rem;
}

.col-titel{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.icon{
    font-size:18px;
    padding: 0;
}

.fav-icon{
    color: #e0ac08;
}

.row-zutaten{
    margin-bottom: 0;
}

.grid-col-pic{
    height: 9rem;
}

.row-schritt{
    width: 100%;
    font-weight: bold;
    margin-top: 1rem;
}

@media(min-width:700px){
    .grid-row{
        height: 2.5rem;
        font-size: 20px;
    }
    
    .grid-col-pic{
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .icon{
        font-size:22px;
    }
}

@media(min-width: 1200px){
    .grid{
        margin-left:10%;
    }
}