.grid{
    height: auto;
    width: 90%;
    font-size: 18px;

    .row-titel{
        margin: 1.5rem;
        
        ion-col{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }

    .grid-row-infos{
        .row-col-inner{
            padding: 0;
        }
        
        .row-infos-inner{
            height: 1.5rem;
            margin-bottom: 1rem;

            .fav-icon{
                color: #e0ac08;
                font-size:18px;
                padding: 0;
            }

            .row-zutaten{
                margin-top: auto;
                margin-bottom: 0;    
            }
        }

        ion-img{
            height: auto;
            width: auto;
        }
    }

    .row-ueberschrift{
        width: 100%;
        font-weight: bold;
        margin-top: 1rem;
    }

    .zutaten{
        --ion-grid-columns: 10;
    
        .zutatenMenge{
            text-align: end;
        }
    }

    .row-zutaten-doing{
        white-space: pre-line;
        font-style: italic;
    }

    .unterstrich{   
        position: relative;
        z-index : 1;

        &:before {
            content : "";
            position: absolute;
            left    : 10%;
            bottom  : 0;
            height  : 1px;
            width   : 50%;  /* or 100px */
            border-bottom:1px solid rgb(128, 128, 128);
          }
    }
}

.delete-btn{
    position: fixed;
    bottom: 10px;
    right: 10px;
  }

@media(min-width:700px){
    .grid{
        width: 80%;
        margin-left: 10%;
        min-height: 15rem;
        font-size: 2rem;

        .fav-icon{
            font-size:22px;
        }

        ion-img{
            height: 4.5rem;
            width: 4.5rem;
        }

        .zutaten{
            --ion-grid-columns: 15;
        
            .zutatenMenge{
                text-align: end;
            }
        }
    }
}

@media(min-width: 1200px){
    .grid{
        width: 50%;
        margin-left: 25%;
        height: 2.5rem;
        font-size: 20px;

        .zutaten{
            --ion-grid-columns: 20;
        
            .zutatenMenge{
                text-align: end;
            }
        }
    }
}