.btn-medium{
    display: none;
}

.searchbar-div{
    margin-left: 2%;
    margin-top: 2%;
    width: 95%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-bar{
    height: 3rem;
    width: 70%;
}

.searchbar-btn{
    width: 3rem;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
    color: black;
}

.filter{
    width: 50px;
    border: 5px;
    background-color: transparent;

    ion-select{
        background-color: rgba(255,255,255,0.9);
        border-radius: 10px;
        margin-left: 1px;
        &::after{
            display: none;
        }

        &::part(text){
            display: none;
        }

        &::part(icon) {
            color: black;
            opacity: 1;
            background-color: transparent;
            font-size: large;
        }

        &::part(placeholder){
            display: none;
        }
        
    }
}


.optionslabel{
    background-color: transparent;
    margin-left: 3%;
    margin-top: 2%;
    height: fit-content;
    width: 90%;

    ion-label{
        margin-top: 2px;
        margin-right: 2%;
        padding: 2px;
        border-radius: 5px;
        border: solid rgba(0, 0, 255, 0.5) 1.5px;
        background-color: rgba(255,255,255,0.9);
        display:inline-block;

    }
}

@media(min-width:700px){
    .btn-small{
        display: none;
    }
    
    .btn-medium{
        display: flex;
    }

    .searchbar-div{
        margin-left: 3%;
        width: 90%;
    }

    .searchbar-btn{
        width: 6rem;
        margin-left: 1%;
    }

    .filter{
        width: 200px;

        ion-select{
            
            &::part(text){
                display: flex;
            }
    
            &::part(icon) {
                font-size: larger;
            }
    
            &::part(placeholder){
                display: contents;
            }
            
        }
    }
}

@media(min-width: 1200px){
    .searchbar-div{
        margin-left: 5%;
        width: 80%;
    }

    .filter{
        width: 300px;
    }
}