<div class="searchbar-div">
  <ion-searchbar class="searchbar-bar" placeholder="Suche" (ionInput)="suche($event)"></ion-searchbar>
  <ion-button class="searchbar-btn btn-small"><ion-icon name="chevron-down-outline"></ion-icon></ion-button>
  <ion-button class="searchbar-btn btn-small" (click)="zufall()">Z</ion-button>
  <ion-button class="searchbar-btn btn-medium"><ion-icon name="chevron-down-outline"></ion-icon> Filter</ion-button>
  <ion-button class="searchbar-btn btn-medium" (click)="zufall()">Zufall</ion-button>
</div>
