<ion-grid>
  <ion-row class="grid-row-long">
    <ion-col>
      <ion-row>
        <ion-icon [name]="_fav"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-title>{{_titel}}</ion-title>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-img alt="Picture" class="grid-col-pic" src="../../../assets/icon/favicon.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="grid-row">
    <ion-col>
      <ion-row>
        <ion-icon *ngFor="let eintrag of _sterne" [name]="eintrag" class="grid-icon"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-title>{{_anzahl}} Bewertungen</ion-title>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>