<ion-grid class="grid">
  <ion-row class="grid-row" *ngIf="data!==undefined">
    <ion-col class="grid-col-first">
      <ion-icon *ngIf="_fav!==undefined"class="icon fav-icon" [name]="_fav"  (click)="setFavorit()"></ion-icon>
    </ion-col>
    <ion-col class="grid-col-second" (click)="rezeptAufrufen()">
      <ion-label>{{data.id}}</ion-label>
        <ion-icon class ="icon" *ngIf="_bearbeitet" name="clipboard-outline"></ion-icon>
    </ion-col>
    <ion-col (click)="rezeptAufrufen()">
      <ion-img alt="Picture" class="grid-col-pic" src="../../../assets/icon/favicon.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="grid-row">
    <ion-col class="grid-col-first">
      <ion-icon *ngFor="let eintrag of _sterne" [name]="eintrag" class="icon bewertung-icon"></ion-icon>
    </ion-col>
    <ion-col class="grid-col-second" (click)="rezeptAufrufen()">
      <ion-label>{{_anzahlText}}</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>