ion-grid{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

    // Box
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 10px;

    position: relative;
}

ion-grid{
    ion-row{
        height: auto;
    }

    .image {
        position: inherit;
        text-align: center;
    }

    ion-img{
        position: absolute;
        z-index: auto;
        left: 60%;
        right: 2%;
        top: 5%;
        bottom: 5%;
        border-radius: 100px;
    }
    
    .grid-row2{
        .grid-col-second{
            font-size: 80%;
        }
    }
}

.fav-icon{
    color: #e0ac08;

    &:hover{
        cursor: pointer;
    }
}

.icon{
    font-size:12px;
}

@media(min-width: 1200px){
    .grid{
        margin-left: 20%;
    }
}