<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Passwort</ion-label>
      <ion-input type="password" [(ngModel)]="user.passwort" required></ion-input>
    </ion-item>
    <ion-button fill="clear" routerLink="/forget">Passwort vergessen</ion-button>
    <ion-button (click)="login()">Login</ion-button>
    <ion-button fill="outline" routerLink="/register">Registrieren</ion-button>
  </ion-list>
</ion-content>